/** GLOBAL CHANGES **/
:root {
  --colour--white: #FFF;
  --colour--light-grey: #EEE;
  --colour--medium-grey: #DDD;
  --colour--dark-grey: #BBB;
  --colour--black: #000;

  font-size: 14px;
}

a {
  color: inherit;
}

/** MORE SPECIFIC CHANGES **/

.background {
  background-color: var(--colour--light-grey);
}

.primary-container {
  background-color: var(--colour--white);
  border: 1px solid var(--colour--medium-grey);
  padding: 0.5em;
}

.primary-container--focus {
  text-align: center;
}

.primary-container__title {
  text-decoration: none;
}

.main-menu__list {
  overflow: hidden;
}

.main-menu__list-item {
  background-color: var(--colour--light-grey);
  border: 1px solid var(--colour--medium-grey);
  float: left;
  margin: 0em 0.1em;
}

.main-menu__list-item:hover {
  border-color: var(--colour--dark-grey);
}

.main-menu__list-link {
  padding: 0em 1em;
  text-decoration: none;
}

.post-meta {
  padding-top: 1em;
}

.post-meta__date {
  font-style: italic;
}

.post-meta__tag-list {
  overflow: hidden;
  list-style-type: "#\A0";
  margin: 0;
  padding: 0;
}

.post-meta__tag-item {
  float: right;
  margin-left: 1.5em;
}

.video-container {
  background-color: var(--colour--light-grey);
  border: var(--colour--dark-grey) 1px solid;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-container::after {
  content: '';
  display: block;
  padding-top: 56.25%;
}

.video-container__youtube-player {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.video-container-caption {
  display: block;
  margin: auto 0;
  text-align: center;
}

.l-post-meta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-template-areas: "date tags"
                       "title title";
}

.l-post-meta__date {
  grid-area: date;
}

.l-post-meta__tags {
  grid-area: tags;
}

.l-post-meta__title {
  grid-area: title;
}

.heading-anchor {
  color: var(--colour--medium-grey);
  text-decoration: none;
}

.heading-anchor:hover {
  color: var(--colour--black);
}

.cite {
  background-color: var(--colour--light-grey);
  border-width: 1px 1px 0 0;
  border: solid var(--colour--light-grey);
  display: grid;
  grid-template-columns: 20% 80%;
}

.cite__key {
  color: var(--colour--black);
  grid-column-start: 1;
  padding: 2px 4px;
  text-align: right;
}

.cite__value {
  background-color: var(--colour--white);
  border-bottom: 1px solid  var(--colour--light-grey);
  grid-column-start: 2;
  margin: 0;
  padding: 2px 4px;
}

.cite__value--disabled {
  text-decoration: line-through;
}

.cite__value--redacted {
  text-decoration: line-through;
  text-decoration-style: double;
}

.dynamic__summary {
  padding: 1em 0em;
}

/** Dynamically generated content **/

.dynamic blockquote {
  background-color: var(--colour--light-grey);
  border-left: var(--colour--dark-grey) 2px solid;
  font-style: italic;
  padding: 0.25em;
  padding-left: 1em;
}

.dynamic code {
  background: var(--colour--light-grey);
  font-family: monospace;
  font-style: normal;
  padding: 0.2em;
}

.dynamic pre {
  background: var(--colour--light-grey);
  border: var(--colour--dark-grey) 1px dashed;
  font-family: monospace;
  font-style: normal;
  margin: 0.25em;
  overflow: auto;
  padding: 0.5em;
}

.dynamic blockquote > code {
  /* Make code in blockquotes stand out more */
  border: var(--colour--dark-grey) 1px dashed;
}

.dynamic pre > code {
  /* This is exactly why you don't style elements directly */
  padding: 0em;
}

.dynamic table {
  table-layout: fixed;
  width: 100%;
}

.dynamic td, 
.dynamic th {
  border: 1px solid;
  line-height: 1.7em;
  padding: 0em 0.2em;
  word-wrap: break-word;
}

.dynamic img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.dynamic figure {
  background: var(--colour--light-grey);
  border: 1px solid var(--colour--medium-grey);
  display: inline-block;
  margin: auto 1em;
  padding: 0.2em;
}

.dynamic figure figcaption {
  text-align: center;
}

.dynamic img + em {
  display: block;
  margin: auto 0;
  text-align: center;
}

.dynamic .callout {
  border: 1px dashed black;
  padding: 0.25em;
  text-align: center;
}

/* Colours from http://www.wowwiki.com/API_GetItemQualityColor */

.dynamic .legendary {
  color: #FF8000;
}

.dynamic .epic {
  color: #A335EE;
}

.dynamic .rare {
  color: #0070DD;
}

.dynamic .uncommon {
  color: #1EFF00;
}

.dynamic .common {
  color: black;
}

/** Desktop **/
@media (min-width: 960px) {
  .background {
    padding: 10px 0px;
  }

  .primary-container {
    margin: 4px auto;
    min-width: 500px;
    max-width: 900px;
    padding: 0em 1em;
  }

  .cite {
    grid-template-columns: 15% 85%;
  }

  .dynamic table {
    table-layout: auto;
    width: auto;
  }

  .dynamic td, 
  .dynamic th {
    padding: 0em 1em;
    word-wrap: normal;
  }
}
