<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body class="background">
        {{- partial "header.html" . -}}
        <main class="primary-container">
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
