{{ define "main" }}
  {{- partial "simple-page.html" . -}}

  {{ range .Pages.ByTitle }}
  <article>
    <h3 id="{{ anchorize .Title | safeURL }}">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </h3>


    <section class="dynamic">
      {{ .Summary }}
    </section>
  </article>
  {{ end }}
{{ end }}
