{{ define "main" }}
  <article>
    <header class="post-meta l-post-meta">
      <time
        class="post-meta__date l-post-meta__date"
        datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
        {{ .Date.Format "Monday 02 January 2006" }}
      </time>

      {{ with .Params.tags }}
      <ul class="post-meta__tag-list l-post-meta__tags">
        {{ range . }}
        <li class="post-meta__tag-item">
          <a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ . }}</a>
        </li>
        {{ end }}
      </ul>
      {{ end }}

      <h1 class="l-post-meta__title">{{ .Title }}</h1>
    </header>
    <section class="dynamic">
      {{ .Content }}
    </section>
  </article>
{{ end }}
