{{ define "main" }}
  {{- partial "simple-page.html" . -}}

  <!-- ranges through each of the content files associated with a particular taxonomy term and renders the summary.html content view -->
  {{ range .Pages }}
  <article>
    <a href="{{ .Permalink }}">
      <h3>{{ .Title }}</h3>
    </a>

    <time
      class="post-meta__date"
      datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
      {{ .Date.Format "2006-01-02" }}
    </time>

    <section class="dynamic dynamic__summary">
      {{ .Summary }}
    </section>
  </article>
  {{ end }}
{{ end }}
