{{ if .Site.Copyright }}
<footer class="primary-container primary-container--focus">
  Powered by <a href="https://gohugo.io/" target="_blank">Hugo</a>
  and <a href="https://gitlab.com/dasime/tiny-bird" target="_blank">tiny-bird</a> |
  {{ .Site.Copyright | safeHTML }}
</footer>
{{ end }}
