<header class="primary-container primary-container--focus">
  <a class="primary-container__title" href="{{ .Site.BaseURL }}">
    <h1>
      {{ .Site.Title }}
    </h1>
  </a>

  <nav>
    <ul class="main-menu__list">

      {{ range .Site.Menus.main }}
      <li class="main-menu__list-item">
        <a class="main-menu__list-link" href="{{ .URL }}">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
      
    </ul>
  </nav>
</header>
