<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{if .Title}}{{ .Title }} | {{end}}{{ .Site.Title }}</title>
  <link
    rel="stylesheet"
    type="text/css"
    href='{{ "css/sanitize.css" | relURL }}'>
  <link
    rel="stylesheet"
    type="text/css"
    href='{{ "css/styles.css" | relURL }}'>
  {{ with .OutputFormats.Get "RSS" }}
  {{ printf `<link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
  {{ end }}
</head>
