{{ define "main" }}
  {{- partial "simple-page.html" . -}}

  <section>
    <ul>
      {{ with .Site.GetPage "posts" }}
      {{ range .Pages }}
        <li>
          <a href="{{ .Permalink }}">
            <time
              datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
              {{ .Date.Format "2006-01-02" }}
            </time>
            - {{ .Title }}
          </a>
        </li>
      {{ end }}
      {{ end }}
    </ul>
  </section>
{{ end }}
