{{ define "main" }}
  {{- partial "simple-page.html" . -}}

  {{ range .Pages.GroupByParam "category" }}
  <section>
    <h2>{{ title .Key }}</h2>

    {{ range .Pages.ByTitle }}
    <article>
      <h3 id="{{ anchorize .Title | safeURL }}">
        <a class="heading-anchor" href="#{{ anchorize .Title | safeURL }}">
            &para;
        </a>
        {{ .Title }}
      </h3>
      <time
        class="post-meta__date"
        datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
        {{ .Date.Format "2006-01-02" }}
      </time>

      <section class="dynamic">
        {{ .Content }}
      </section>
    </article>
    {{ end }}

  </section>
  {{ end }}
{{ end }}
