{{- /*
Embed a YouTube video and caption it with a direct link.

Based on:

* https://blog.akendo.eu/post/2021-02-10-hugo-youtube-shortcode/
* https://gohugo.io/content-management/shortcodes/#youtube
* https://github.com/gohugoio/hugo/blob/3d5dbdcb1a11b059fc2f93ed6fadb9009bf72673/tpl/tplimpl/embedded/templates/shortcodes/youtube.html

Minimal usage - embed a video, with a direct link:

{{< youtube "fy7eQSnPrdc" >}}

Full usage - embed a video, caption with a title and override the video start time:

{{< youtube \
  id="fy7eQSnPrdc" \
  time="307"\
  title="Odeon Cinemas - Ident History" \
>}}
*/ -}}

{{- $id := .Get "id" | default (.Get 0) -}}
{{- $title := .Get "title" | default "YouTube Video" -}}

<div class="video-container">
  <iframe
    class="video-container__youtube-player"
    type="text/html"
    width="560"
    height="315"
    src='https://www.youtube-nocookie.com/embed/{{ $id }}{{ if .Get "time" }}?start={{ .Get "time"}}{{ end }}'
    allowfullscreen
    frameborder="0"
    title="{{ $title }}"
    loading="lazy"
  >
  </iframe>
</div>
<div class="video-container-caption">
  {{ if (.Get "title") }}
  <em>"{{ $title }}"</em>
  <br />
  {{ end }}
  Click <a
    target="_blank"
    href='https://www.youtube.com/watch?v={{ $id }}{{ if .Get "time" }}&t={{ .Get "time"}}{{ end }}'
  >
    here</a>
  to watch this video on YouTube
</div>
